<html>
<link id="bs-css" href="/static/css/bootstrap-cerulean.min.css" rel="stylesheet">
<link href="/static/css/charisma-app.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.js"></script>


<body>  
{% include "navbar.html" %}
<div class="ch-container">
    <div class="row">               
        <div id="content" class="col-lg-12 col-sm-12">                    
<!-- <div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Blank</a>
        </li>
    </ul>
</div> -->
<div class="row">
    <br><br><br>
    <div class="box col-md-3">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Folders</h2>                  
            </div>
            <div class="folderbox">
                <ul >
                {% for i in f%}
                    <b  id="foldersData" data-folder = "{{i}}" data-item = "{{i}}"class = "driveFolders">
                        <span id="gly" class="glyphicon glyphicon-plus-sign"></span>
                        {{i}}
                        <ul id='{{i}}'>
                        </ul>
                    </b> 
                    <br>
                {% endfor %}    
                </ul>              
            </div>  
           
        </div>
    </div>
<div class="box col-md-9">   
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" id="codeanywhere/templates/static/js/listDetails.js" href="#section0">
                    Section 0
                    <!-- <i class="glyphicon glyphicon-remove"></i> -->
                </a>
            </li>                
            <li id="plus"><i class="glyphicon glyphicon-plus"></i></li>
            <li id="save"><i class="glyphicon glyphicon-save"></i></li>
        </ul>
        <div class="tab-content">
            <div id="section0" class="tab-pane fade in active">
                <pre id="editor0" class="editor"></pre>     
            </div>                   
        </div>	                
    </div>
</div><!--/row-->
</div><!--/#content.col-md-0-->
</div><!--/fluid-row-->

<!-- model strt -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Create New Files Here</h3>
                </div>
                <div class="modal-body">
                    <div>
    <ul class="breadcrumb">
        <li><a href="#">codeanywhere</a></li>
        <li><a href="#">templates</a></li>
        <li><a href="#">css</a></li>
    </ul>
</div>
                file name: <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope red"></i></span>
                        <input type="text" class="form-control" placeholder="filename.extension" id="filenameExtension">
                    </div>                                    
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a href="" id="create" data-dismiss="modal" class="btn btn-primary">Create Now</a>
                </div>
            </div>
        </div>
    </div>
<!-- model end -->
   
</div><!--/.fluid-container-->
</body>
<script type="text/javascript">
$(document).ready(function () {       
    $.get('/static/js/listDetails.js',function(data){
        $('a[href="#section0"]').text("listDetails.js"); 
        editorId=document.getElementById('editor0');
        editorId.innerText=data
        var editor0 = ace.edit("editor0");
        // editor.setTheme("ace/theme/javascript");
        editor0.getSession().setMode("ace/mode/javascript");
    
    }
        ,'text'
        );
	$('#myModal').modal('hide');
	$('.btn-setting').click(function (e) {
        e.preventDefault();
        $('#myModal').modal('show');
    });    
	});
</script>
<script type="text/javascript" src="/static/js/listDetails.js"></script>
<script src="/static/editor-src-min/ace.js" type="text/javascript" charset="utf-8"></script>

<script>    
    // var editor = ace.edit("editor");
    // editor.setTheme("ace/theme/twilight");
    // editor.getSession().setMode("ace/mode/javascript");
    
</script>
</html>